@use '../../sassStyles/colors' as *;

.person {
  height: 100%;
  width: 100%;
  padding: 20px;

  background: #fff;
  border-radius: 10px;

  opacity: 0;

  &__photo {
    display: block;
    width: 70px;
    margin: 0 auto 20px;

    border-radius: 50%;
  }

  &__email-container {
    position: relative;

    text-align: center;
  }

  &__email:hover + &__tooltip {
    opacity: 1;
  }

  &__tooltip {
    position: fixed;

    padding: 3px 16px;

    color: $color__text--secondary;

    background-color: $color__text--main;
    border-radius: 4px;

    opacity: 0;
    transform: translate(-10%, 75%);
  }

  &__name,
  &__position,
  &__email,
  &__phone {
    text-align: center;
    font-size: 16px;
    line-height: 26px;

    color: $color__text--main;

    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__email,
  &__phone {
    display: block;
  }

  &__name {
    margin-bottom: 20px;
  }
}
