@use '../../sassStyles/variables' as *;

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header__height;

    background: #fff;
  }

  &__btns {
    display: flex;
    column-gap: 10px;
  }
}
