@use '../../sassStyles/variables' as *;

.header {
  background: #fff;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header__height;
  }

  &__btns {
    display: flex;
    column-gap: 10px;
  }
}
