$color__background: #f8f8f8;
$color__accent: #f4e041;
$color__accent--hover: #ffe302;
$color__secondary: #00bdd3;
$color__btn--disabled: #b4b4b4;
$color__text--main: rgba(0, 0, 0, 0.87);
$color__text--secondary: #fff;
