* {
  box-sizing: border-box;
}

body,
ul,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
